body{
    background-color: #1b1b18;
    color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
    z-index: 10;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #4b4661;
    background: #1d1d1b;
    box-shadow: inset 0px 0px 10px 2px #000000c2;
    -webkit-transition: 0.8s;
    transition: 0.4s;
    border-radius: 30px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 7px;
  background-color: #4b4661;
  box-shadow: 0px 0px 10px 1px #000000c2;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 50%;
}

input:checked + .slider::before {
  -webkit-transform: translateX(33px);
  -ms-transform: translateX(33px);
  transform: translateX(33px);
}


/* animation */
.animation{
    position: absolute;
    top: 0px;
    left: 20px;
}

svg.h{
    position: absolute;
}
.active svg.h {
  transition: margin cubic-bezier(0.165, 0.84, 0.44, 1) 1.4s, transform 0.2s 1s, fill 0.2s 1s, opacity 0.2s 1.2s;
  opacity: 0;
}
.active svg.h.h-5, .active svg.h.h-6, .active svg.h.h-7, .active svg.h.h-8 {
  transform: scale(1.5);
}
.active svg.h.h-1 {
  margin-top: -200px;
}
.active svg.h.h-2 {
  margin-left: 200px;
}
.active svg.h.h-3 {
  margin-top: 200px;
}
.active svg.h.h-4 {
  margin-left: -200px;
}
.active svg.h.h-5 {
  margin-top: -140px;
  margin-left: 140px;
}
.active svg.h.h-6 {
  margin-top: 140px;
  margin-left: 140px;
}
.active svg.h.h-7 {
  margin-top: -140px;
  margin-left: -140px;
}
.active svg.h.h-8 {
  margin-top: 140px;
  margin-left: -140px;
}

div.dot {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  top: 5px;
  left: 5px;
}
div.dot:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 100%;
  top: 20px;
  left: 0px;
}
div.dot:after {
  content: "";
  width: 11px;
  height: 11px;
  border-radius: 100%;
  top: -160px;
  left: 2px;
  position: absolute;
  display: none;
}
.active div.dot {
  opacity: 0;
  transform: translateY(-100px);
  transition: transform 1s, opacity 0.5s 1s, background 0.1s 0.2s;
}
.active div.dot:after {
  display: block;
}
.active div.dot.dot-2 {
  transform: rotate(45deg) translateY(-100px);
}
.active div.dot.dot-3 {
  transform: rotate(90deg) translateY(-100px);
}
.active div.dot.dot-4 {
  transform: rotate(135deg) translateY(-100px);
}
.active div.dot.dot-5 {
  transform: rotate(180deg) translateY(-100px);
}
.active div.dot.dot-6 {
  transform: rotate(225deg) translateY(-100px);
}
.active div.dot.dot-7 {
  transform: rotate(270deg) translateY(-100px);
}
.active div.dot.dot-8 {
  transform: rotate(305deg) translateY(-100px);
}


/* red */

#love input:checked + .slider{
    border-color: #dc3545;
    filter: drop-shadow(0 0 0.75rem #dc3545);

}
#love input:checked + .slider::before {
    background-color: #dc3545;
    filter: drop-shadow(0 0 0.75rem #dc3545);
}
#love svg.h {
    fill: #dc3545;
}
#love div.dot, #love div.dot::before, #love div.dot::after{
    background-color: #dc3545;
}

/* blue */

#friend input:checked + .slider{
  border-color: #1791ab;
  filter: drop-shadow(0 0 0.75rem #1791ab);
}

#friend input:checked + .slider::before {
  background-color: #1791ab;
  filter: drop-shadow(0 0 0.75rem #1791ab);
}
#friend svg.h {
    fill: #1791ab;
}
#friend div.dot, #friend div.dot::before, #friend div.dot::after{
    background-color: #1791ab;
}

/* green */

#money input:checked + .slider {
  border-color: #17ab17;
  filter: drop-shadow(0 0 0.75rem #17ab17);
}

#money input:checked + .slider::before {
  background-color: #17ab17;
  filter: drop-shadow(0 0 0.75rem #17ab17);
}
#money svg.h {
    fill: #17ab17;
}
#money div.dot, #money div.dot::before, #money div.dot::after{
    background-color: #17ab17;
}